.product-listing-wrapper {
    width: 100%;
    max-width: 100vw; 
    overflow: hidden;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.product-swiper {
    position: relative;
    padding-bottom: 20px;
}

.star-container {
    position: relative;
    display: inline-block;
    font-size: 20px;
    line-height: 1;
    width: max-content;
}

.star-back {
    color: #ccc;
}

.star-front {
    color: #FFD700; /* Gold */
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
}

.product-card {
    min-width: 220px;
    max-width: 300px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-color: #fff;
    padding: 12px;
    border-radius: 8px;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-name {
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 15px;
    color: #666;
    margin-bottom: 4px;
}

.product-price {
    font-family: 'Montserrat-Regurlar', sans-serif;
    font-size: 15px;
    color: #666;
    margin-bottom: 4px;
}

.popularity {
    font-family: 'Avenier', sans-serif;
    font-size: 14px;
    color: #666;
    margin-top: 6px;
    display: flex;
    flex-direction: row;
}

/* Fix Swiper arrows not overlapping cards */
.swiper-button-prev,
.swiper-button-next {
    top: 45%;
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 50%;
    color: #000;
}

    .swiper-button-prev::after,
    .swiper-button-next::after {
        font-size: 16px;
        font-weight: bold;
    }

.swiper-button-disabled {
    opacity: 0.3;
    cursor: not-allowed;
}
.rating-number {
    height: 20px;
    align-content: center;
}